{{{Header}}}

<div class="container grid">
    <div class="left">
        {{{Menu}}}
    </div>
    <div class="middle grid">
        {{#each posts}}
            {{{Post}}}
        {{/each}}
        {{{Post}}}
        {{{Post}}}
        {{{Post}}}
    </div>
    <div class="right"></div>
</div>
