{{#with store.user}}
  <div class='user-settings block'>
    <div class='avatar-info'>
      <p class=''>Your current image</p>
      <div class='flex-c'>
        <img class='icon user-image' src='/{{image}}' alt='' />
      </div>
      <label for='update-photo' class='link'>upload image</label>
      <input type='file' id='update-photo' accept='.jpg, .jpeg, .png' />
    </div>
    <hr />
    <div class='settings-main-info'>
      <p class='settings-main-info-title'>Main information</p>
      <div class='info-field'><p>Name</p><input
          type='text'
          placeholder='Enter your name'
          value='{{name.first}}'
        /></div>
      <div class='info-field'><p>Last name</p><input
          type='text'
          placeholder='Enter your last name'
          value='{{name.last}}'
        /></div>
      <div class='info-field'><p>Place</p><input type='text' placeholder='Enter place where you live' {{place}} /></div>
      <div class='info-field'><p>Birth date</p><input
          type='datetime'
          placeholder='Enter your birth date'
          {{birtdate}}
        /></div>
    </div>
    <hr />
    <div class='settings-additional-info'>
      <p class='settings-additional-info-title'>Additional information</p>
      <div class='info-field'>
        <p class='info-field-title'>Musical preferences</p>
        <span class='textarea' role='textbox' contenteditable>{{info.music}}</span>
      </div>
      <div class='info-field'>
        <p class='info-field-title'>Film preferences</p>
        <span class='textarea' role='textbox' contenteditable>{{info.film}}</span>
      </div>
      <div class='info-field'>
        <p class='info-field-title'>Hobbies</p>
        <span class='textarea' role='textbox' contenteditable>{{info.hobbie}}</span>
      </div>
      <div class='info-field'>
        <p class='info-field-title'>Thoughts</p>
        <span class='textarea' role='textbox' contenteditable>{{info.about}}</span>
      </div>
    </div>
    <hr />
    <div class='save-info'>
      <a class='block btn-primary __disabled'>
        <p class='save-info-text'>back</p>
      </a>
      <div class='block btn-like' id='upload-new-user-info'>
        <img class='icon' src='/static/icons/add_square.svg' alt='' />
        <p class='save-info-text'>save information</p>
      </div>
    </div>
  </div>
{{/with}}