<div class='single-comment grid'>
  <img class='icon' src='{{comment.user.image}}' alt='' />
  <div class='info'>
    <p class='link selectable fs-300 author-name'>{{comment.user.name.first}} {{comment.user.namr.second}}</p>
    <p class='selectable fs-300'>{{comment.text}}</p>
    <p class='selectable fs-300 text-light'>{{comment.publishedTime}}</p>
  </div>
</div>