<div class='profile-info block'>
  <img class='icon' src='{{user.image}}' alt='' />
  <div class='main-info'>
    <div class='user-header main-info-part'>
      <p class='user-name selectable'>{{user.name.first}} {{user.name.last}}</p>
      <p class='user-online'>online</p>
    </div>
    <div class='user-status main-info-part'>
      {{!-- <p class='selectable'>{{user.status}}</p> --}}
      <p class='selectable'>Death covers our life until we realize how wrong it really is</p>
    </div>
    <div class='profile-user-info main-info-part'>
      {{!-- <p class='selectable'>Location: {{user.location}}</p> --}}
      <p class='selectable'>Location: Russia, Moscow</p>
      <div class='user-birth'>
        {{!-- <p class='selectable'>Birth: {{user.birth-date}}</p> --}}
        <p class='selectable'>Birth: 12.12.1998</p>
        {{!-- <p class='selectable'>{{user.age}} years</p> --}}
        <p class='selectable'>24 years</p>
      </div>
      <div class='user-main-info'>
        <hr />
        <a class='link' href='/settings' data-link>main information</a>
        <hr />
      </div>
    </div>
    <div class='user-menu main-info-part'>
      <a class='element btn-like' href='/friends' data-link>
        <p>friends</p>
      </a>
      <a class='element btn-like __disabled'>
        <p>followers</p>
      </a>
      <a class='element btn-like __disabled'>
        <p>photos</p>
      </a>
    </div>
  </div>
</div>